name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        rust:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Default features
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: No features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-default-features
    
      - name: All features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      
      - name: With test
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features test

      - name: With std
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features std
      
      - name: With sval
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features sval1

      - name: With serde
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features serde1

  embedded:
    name: Build (embedded)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: thumbv6m-none-eabi
          override: true

      - name: Default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -Z avoid-dev-deps --target thumbv6m-none-eabi

      - name: With sval
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -Z avoid-dev-deps --target thumbv6m-none-eabi --features sval

  wasm:
    name: Test (wasm)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: wasm-pack test --headless --firefox
