name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Install cargo-hack
        run: cargo install cargo-hack

      - name: Powerset
        run: cargo hack test --feature-powerset

  embedded:
    name: Build (embedded)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: thumbv6m-none-eabi
          override: true

      - name: Install cargo-hack
        run: cargo install cargo-hack

      - name: Powerset
        run: cargo hack check --each-feature --exclude-features std,test,error -Z avoid-dev-deps --target thumbv6m-none-eabi

  nodeps:
    name: Build (no dev deps)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Install cargo-hack
        run: cargo install cargo-hack

      - name: Powerset
        run: cargo hack check --feature-powerset -Z avoid-dev-deps

  wasm:
    name: Test (wasm)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      
      - name: All features
        run: wasm-pack test --node -- --all-features

  miri:
    name: Test (miri)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly-2021-07-06
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install miri
        run: rustup +nightly-2021-07-06 component add miri

      - name: Type Id
        run: VALUE_BAG_CAPTURE_CONST_TYPE_ID=1 cargo miri test

      - name: Fallback
        run: VALUE_BAG_CAPTURE_FALLBACK=1 cargo miri test
